.main {
    color: #ffffff;
    background: url("../assets/react-bg.svg") no-repeat right center, #282d35;
    background-size: auto 80%;
    padding: 0 2rem;
    min-height: 470px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }