@import '../abstract/media-queries';

.nav {
    width: calc(100% - 4rem);
    margin: 0 auto;

    @include media-query($sm-screen){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

