:root {
  --border-radius: .5rem;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.app {
  border-radius: 1rem;
}

.header {
  background-color: #21222a;
  color: #deebf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.header__logo {
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #61dafb;
  gap: 0.5rem;
}

.main {
  color: #ffffff;
  background: url("../assets/react-bg.svg") no-repeat right 10% center, #282d35;
  background-size: auto 80%;
  padding: 2rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.title {
  margin-bottom: 2.5rem;
}

.fact {
  list-style: none;
  margin: 1.25rem 0;
  position: relative;
}

.fact::before {
  --side: 0.6rem;
  position: absolute;
  width: var(--side);
  height: var(--side);
  display: block;
  border-radius: 100%;
  background-color: #61dafb;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -1.25rem;
}
